.root {
    -fx-font-family: "Arial Narrow";
    --block-text-color: white;
}

/* First Scene */
#anchorPane {
    -fx-background-color: dodgerblue;
}
#getSpecificationsButton, #submitButton {
    -fx-padding: 10px;
    -fx-background-color: #3498db; /* Blue background color */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px; /* Rounded corners */
}
#getSpecificationsButton:hover, #submitButton:hover {
    -fx-background-color: #2980b9; /* Darker blue on hover */
}
#errorLabel {
    -fx-padding: 5px;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

/* Second Scene */
#anchorPaneStatistics {
    -fx-background-color: dodgerblue;
}
#gobackButton {
    -fx-padding: 10px;
    -fx-background-color: #e74c3c; /* Red background color */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px; /* Rounded corners */
}
#gobackButton:hover {
    -fx-background-color: #c0392b; /* Darker red on hover */
}
